name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: Package pre-reqs
      run: sudo apt-get update && sudo apt-get install -y curl gnupg apt-transport-https
    - name: Repo GPG Key
      run: curl -L https://packagecloud.io/varnishcache/varnish60lts/gpgkey | sudo apt-key add -
    - name: Repo install
      run: echo "deb https://packagecloud.io/varnishcache/varnish60lts/ubuntu/ noble main" | sudo tee -a /etc/apt/sources.list.d/varnish.list
    - name: Varnish Install
      run: sudo apt-get update && sudo apt-get install varnish-dev=6.0.16-1~noble
    - name: Build
      run: cargo build --verbose
    - name: Run Tests
      run: cargo test --verbose
